.home{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: var(--container);
    padding: 2vw 20px;
    overflow: hidden; 
}

@media (max-width:500px) {
    .container{
        padding: 2vw 0;
    }
}