:root {
    --header: #000000d9;
    --container: 90%;
    --footer:#000000;
    --fontColor:#fff;
    --colorText:#000;
    --white:#fff;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
  }
  
  html,
  body {
    max-width: 100vw;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
  
  .center{
    min-height: calc(100vh - 123px);
  }
  .preloader{
    position: relative;
    width: 100%;
    height: calc(100vh - 140px);
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      color-scheme: dark;
    }
  }